
/*Tags*/

h1{
    font-family: 'Lobster', cursive;
}


/*Navbar*/

.link_menu{
    margin: 20px;
}
.link_menu a{
    color:black !important;
    padding: 6px;
    border-radius: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.link_menu a:hover{
    background-color:white!important;
    color:blueviolet !important;
}

.navbar{
    background-color: darkslateblue !important;
}

.navbar-brand{
    opacity: 0.7;
}

.navbar-brand:hover{
    opacity:1;
}


.my-auto{
    background-image:url(../images/bg4.jpg)!important;
}


.col-lg-7 #kleyton{
    padding-top: 50px; 
}


#cogumelo{
    opacity: 0.7;
}

#cogumelo:hover{
    opacity: 1;
}

#TextoInicio{
    color:rgb(12, 3, 37);
}

#TextoInicio:hover{
    color:red;
}


/*1 Seção*/

#portifolio{
    background-color: #1D1529;
}

#textoPorte{
    font-family: 'Lobster', cursive;
}

.carousel-inner > .next {
    display: none;
 }
 .carousel-inner > .prev {
    display: none;
 }

#Imgcarroca{ width:100%; height:100%; }


/*2 Seçao*/

#cogumelo3{
    margin:10px 10px;
    opacity:0.7;

}

#cogumelo3:hover{
    opacity:1;
}

#devs{
    background-image:url(../images/bg1.jpg)!important;
    background-size:80%; 
}

#imgS2{
    width: 185px;
    height: 180px;
    border-radius: 50%;
    padding: 5px;
}



/*3 Seçao*/

.bg-dark{
    background-color: black !important;
}

.text-lg-center{
    font-family:'Underdog', cursive;
}



/*4 Seçao*/

#enviar{
    background:#323030;
}

#contatenos{
    color:#323030;
}



/*5 Seçao */

footer{
    background:#323030;
}

.UltimaDiv{
    background-color:#495057;
}

.col-lg-3{
    font-family: 'Crete Round', serif;
}